.root {
    -fx-background-color: #b2c5e3;
    -fx-font-family: "JetBrains Mono Light";
    very-light: #bcbef1;
    light-colour: #8286d9;
    custom-colour: #6d71bf;
    dark: #443f83;

}
.settingsOverlay {
    -fx-background-color: custom-colour;
}
.langtoggle {
    -fx-padding: 40;
}
.header {
    -fx-padding: 8;
    -fx-spacing: 8;
}
.button {
    -fx-background-color: light-colour;
    -fx-border-color: dark;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.colourScheme_container {
    -fx-spacing: 12;
}
#blueTheme_btn:pressed, #darkTheme_btn:pressed, #lightTheme_btn:pressed, #pinkTheme_btn:pressed, #eyestrainTheme_btn:pressed {
    -fx-background-color: very-light;
}
#blueTheme_btn {
    -fx-background-color: #8286d9;
    -fx-border-color: #443f83;
}
#lightTheme_btn {
    -fx-background-color: #d1d1d3;
    -fx-border-color: none;
}
#darkTheme_btn {
    -fx-background-color: #5e5d60;
    -fx-border-color: none;
}
#pinkTheme_btn {
    -fx-background-color: #e88bc2;
    -fx-border-color: none;
}
#eyestrainTheme_btn {
    -fx-background-color: #37bc47;
    -fx-border-color: #00ff51;
}

.tool-bar {
    -fx-background-color: custom-colour;
    -fx-padding: 8;
    -fx-spacing: 8;

}

.left_column {
    -fx-border-color: dark;
    -fx-pref-width: 220;
    -fx-max-width: 250;
}

.column_btn {
    -fx-padding: 2px;
    -fx-background-color: light-colour;
    -fx-content-display: right;
    -fx-pref-width: 220;
    -fx-max-width: 350;
}
.add_clmn_btn {
    -fx-background-color: custom-colour;
    -fx-pref-width: 220;
    -fx-max-width: 350;
}
.editing_btns {
    -fx-background-color: white;
    -fx-padding: 2;
    -fx-border-color: none;
}
.column_btn:pressed, .button:pressed, .add_clmn_btn:pressed {
    -fx-background-color: very-light;
}

.category_view {
    -fx-border-color: dark;
    -fx-pref-width: 264.0;
}

.category_title {
    -fx-background-color: very-light;
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.note_card {
    -fx-background-color: very-light;
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-width: 0;
    -fx-max-width: 10000;
}